# Target directory where compiled Java classes and jars live
target/

# IDE specific settings and hidden cache files
.idea/
*.iml
.settings/
.classpath
.project
.factorypath

# Crash logs and developer files
*.log

# Heavy or personal local media test assets (Images and Videos)
*.jpg
*.jpeg
*.png
*.mp4
*.mov
*.avi

# Metadata Test Assets
*.jpg
*.jpeg
*.png
*.mp4